extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  header.header
    p: span.js-title Three.js Demo #02
  .container
    .canvas
      canvas.js-view
    .cover
      .cover-gradient.js-gradient
      .cover-overlay.js-overlay
  footer.footer
    p: span.js-explain Press Space or Touch Screen For Spead Up.